.imagem-principal{
    width: 20%;
    border-radius: 10px;
    box-shadow: 0 rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), alpha);
}

.imagem-secundaria{
    width: 12%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

body {
    text-align: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
h2 {
    color: #000000;
  }
.declaracao{
    text-align: centerleft;
    font-family: cursive;
    color: #3c144e;
}
.botao_namoro{
  background-color: white;
  color: black;
  border: 2px solid #320738; /* Green */
}
body {
    background-image: url("2022.jpg");
    background-size: 50%;         /* cobre toda a tela */
    background-position: right;    /* centraliza a imagem */
    background-repeat: repeat;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;                   /* pra garantir contraste */
  }
  body {
    background-image: url("natal-idp.jpeg");
    background-size: 50%;         /* cobre toda a tela */
    background-position: left;    /* centraliza a imagem */
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;                   /* pra garantir contraste */
  }
